@using Skateboard.ViewModels

@model RegisterViewModel

<h2>Register a new user</h2>
<hr />
@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    @Html.LabelFor(user => user.Email)
    @Html.TextBoxFor(user => user.Email)

    @Html.LabelFor(user => user.Password)
    @Html.PasswordFor(user => user.Password)

    @Html.LabelFor(user => user.ConfirmPassword)
    @Html.PasswordFor(user => user.ConfirmPassword)

    <label for="firstName">First Name: </label>
    <input type="text" name="firstName" required />

    <label for="lastName">Last Name: </label>
    <input type="text" name="lastName" required />

    <label for="profileName">Profile Name: </label>
    <input type="text" name="profileName" required />

    <label for="bio">Bio: </label>
    <input type="text" name="bio" required />

    <input type="submit" value="Register" />
}